In [387]:
import pandas as pd
from sklearn import tree
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.tree import export_text
from IPython.display import SVG
from IPython.display import display
from graphviz import Source
from IPython.display import HTML
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelBinarizer, OneHotEncoder, StandardScaler
from sklearn import set_config
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [455]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.preprocessing import StandardScaler

In [388]:
style = "<style>svg{width:50% !important;height:30% !important;}</style>"

HTML(style)

In [389]:
titanic = pd.read_csv(r'd:/titanic/train.csv')

In [390]:
titanic_test = pd.read_csv(r'd:/titanic/test.csv')

In [391]:
titanic.shape

(891, 12)

In [392]:
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [393]:
titanic_test.shape

(418, 11)

In [394]:
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [395]:
titanic.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [396]:
X = titanic.drop(['Survived', 'Name','Ticket','Cabin','PassengerId'], axis=1)
y = titanic.Survived

In [397]:
X = X.fillna({'Age':X.Age.mean()})

In [398]:
X = X.fillna({'Embarked':'S'})

In [399]:
X.Age.value_counts().sum()

891

In [400]:
X['Age_10'] = (X.Age<15).astype(int)

In [401]:
X['Age_30'] = ((X.Age>15) & (X.Age<50)).astype(int)

In [402]:
X['Age_100'] = (X.Age>50).astype(int)

In [403]:
X.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Age_10,Age_30,Age_100
0,3,male,22.0,1,0,7.2500,S,0,1,0
1,1,female,38.0,1,0,71.2833,C,0,1,0
2,3,female,26.0,0,0,7.9250,S,0,1,0
3,1,female,35.0,1,0,53.1000,S,0,1,0
4,3,male,35.0,0,0,8.0500,S,0,1,0

In [404]:
X = X.drop(['Age'], axis=1)

In [405]:
X.fillna(0, inplace=True)

In [406]:
X

     Pclass     Sex  SibSp  Parch     Fare Embarked  Age_10  Age_30  Age_100
0         3    male      1      0   7.2500        S       0       1        0
1         1  female      1      0  71.2833        C       0       1        0
2         3  female      0      0   7.9250        S       0       1        0
3         1  female      1      0  53.1000        S       0       1        0
4         3    male      0      0   8.0500        S       0       1        0
..      ...     ...    ...    ...      ...      ...     ...     ...      ...
886       2    male      0      0  13.0000        S       0       1        0
887       1  female      0      0  30.0000        S       0       1        0
888       3  female      1      2  23.4500        S       0       1        0
889       1    male      0      0  30.0000        C       0       1        0
890       3    male      0      0   7.7500        Q       0       1        0

[891 rows x 9 columns]

In [407]:
X = pd.concat(
    [
        X,
        pd.get_dummies(X["Pclass"], prefix="PClass"),       
        pd.get_dummies(X["Sex"], prefix="Sex"),
        pd.get_dummies(X["SibSp"], prefix="SibSp"),
        pd.get_dummies(X["Parch"], prefix="Parch"),
        pd.get_dummies(X["Embarked"], prefix="Embarked"),
    ],
    axis=1,
)

In [408]:
X

,Pclass,Sex,SibSp,Parch,Fare,Embarked,Age_10,Age_30,Age_100,PClass_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,3,male,1,0,7.2500,S,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
1,1,female,1,0,71.2833,C,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
2,3,female,0,0,7.9250,S,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,1,female,1,0,53.1000,S,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
4,3,male,0,0,8.0500,S,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,male,0,0,13.0000,S,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
887,1,female,0,0,30.0000,S,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
888,3,female,1,2,23.4500,S,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
889,1,male,0,0,30.0000,C,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
890,3,male,0,0,7.7500,Q,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0

In [409]:
# Pclass' 'SibSp' 'Parch' 'PassengerId
X.drop(
    [        
        "Pclass",
        "Sex",
        "SibSp",
        "Parch",
        "Embarked",
    ],
    axis=1,
    inplace=True,
)

In [410]:
X.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
Age_10,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,1.000,0.0000,1.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
Age_30,1.00,1.0000,1.000,1.0,1.00,1.0000,0.0000,0.000,1.0000,0.0000,...,1.0000,1.0000,1.0,1.00,1.000,1.0,1.0,1.00,1.0,1.00
Age_100,0.00,0.0000,0.000,0.0,0.00,0.0000,1.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
PClass_1,0.00,1.0000,0.000,1.0,0.00,0.0000,1.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,1.0,0.00,1.0,0.00
PClass_2,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,1.0000,...,0.0000,0.0000,1.0,0.00,0.000,1.0,0.0,0.00,0.0,0.00
PClass_3,1.00,0.0000,1.000,0.0,1.00,1.0000,0.0000,1.000,1.0000,0.0000,...,1.0000,1.0000,0.0,1.00,1.000,0.0,0.0,1.00,0.0,1.00
Sex_female,0.00,1.0000,1.000,1.0,0.00,0.0000,0.0000,0.000,1.0000,1.0000,...,0.0000,1.0000,0.0,0.00,1.000,0.0,1.0,1.00,0.0,0.00
Sex_male,1.00,0.0000,0.000,0.0,1.00,1.0000,1.0000,1.000,0.0000,0.0000,...,1.0000,0.0000,1.0,1.00,0.000,1.0,0.0,0.00,1.0,1.00
SibSp_0,0.00,0.0000,1.000,0.0,1.00,1.0000,1.0000,0.000,1.0000,0.0000,...,1.0000,1.0000,1.0,1.00,1.000,1.0,1.0,0.00,1.0,1.00
SibSp_1,1.00,1.0000,0.000,1.0,0.00,0.0000,0.0000,0.000,0.0000,1.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,1.00,0.0,0.00
SibSp_2,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
SibSp_3,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,1.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
SibSp_4,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
SibSp_5,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
SibSp_8,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
Parch_0,1.00,1.0000,1.000,1.0,1.00,1.0000,1.0000,0.000,0.0000,1.0000,...,1.0000,1.0000,1.0,1.00,0.000,1.0,1.0,0.00,1.0,1.00
Parch_1,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,1.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
Parch_2,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,1.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,1.00,0.0,0.00
Parch_3,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
Parch_4,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
Parch_5,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,1.000,0.0,0.0,0.00,0.0,0.00
Parch_6,0.00,0.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,0.0,0.00
Embarked_C,0.00,1.0000,0.000,0.0,0.00,0.0000,0.0000,0.000,0.0000,1.0000,...,0.0000,0.0000,0.0,0.00,0.000,0.0,0.0,0.00,1.0,0.00
Embarked_Q,0.00,0.0000,0.000,0.0,0.00,1.0000,0.0000,0.000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.00,1.000,0.0,0.0,0.00,0.0,1.00
Embarked_S,1.00,0.0000,1.000,1.0,1.00,0.0000,1.0000,1.000,1.0000,0.0000,...,1.0000,1.0000,1.0,1.00,0.000,1.0,1.0,1.00,0.0,0.00

In [411]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fare        891 non-null    float64
 1   Age_10      891 non-null    int32
 2   Age_30      891 non-null    int32
 3   Age_100     891 non-null    int32
 4   PClass_1    891 non-null    uint8
 5   PClass_2    891 non-null    uint8
 6   PClass_3    891 non-null    uint8
 7   Sex_female  891 non-null    uint8
 8   Sex_male    891 non-null    uint8
 9   SibSp_0     891 non-null    uint8
 10  SibSp_1     891 non-null    uint8
 11  SibSp_2     891 non-null    uint8
 12  SibSp_3     891 non-null    uint8
 13  SibSp_4     891 non-null    uint8
 14  SibSp_5     891 non-null    uint8
 15  SibSp_8     891 non-null    uint8
 16  Parch_0     891 non-null    uint8
 17  Parch_1     891 non-null    uint8
 18  Parch_2     891 non-null    uint8
 19  Parch_3     891 non-null    uint8
 20  Parch_4     891 non-null    uint8
 21  Parch_5     891 non-null    uint8
 22  Parch_6     891 non-null    uint8
 23  Embarked_C  891 non-null    uint8
 24  Embarked_Q  891 non-null    uint8
 25  Embarked_S  891 non-null    uint8
dtypes: float64(1), int32(3), uint8(22)
memory usage: 36.7 KB

In [412]:
X_train, X_test, Y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=96)

In [413]:
X_train.shape,X_test.shape, Y_train.shape, y_test.shape

((623, 26), (268, 26), (623,), (268,))

In [414]:
# X_train = pd.concat(
#     [
#         X_train,
#         pd.get_dummies(X_train["Pclass"], prefix="PClass"),
#         pd.get_dummies(X_train["Sex"], prefix="Sex"),
#         pd.get_dummies(X_train["SibSp"], prefix="SibSp"),
#         pd.get_dummies(X_train["Parch"], prefix="Parch"),
#         pd.get_dummies(X_train["Embarked"], prefix="Embarked"),
#     ],
#     axis=1,
# )
# X_test = pd.concat(
#     [
#         X_test,
#         pd.get_dummies(X_test["Pclass"], prefix="PClass"),
#         pd.get_dummies(X_test["Sex"], prefix="Sex"),
#         pd.get_dummies(X_test["SibSp"], prefix="SibSp"),
#         pd.get_dummies(X_test["Parch"], prefix="Parch"),
#         pd.get_dummies(X_test["Embarked"], prefix="Embarked"),
#     ],
#     axis=1,
# )

In [415]:
X_train.columns

Index(['Fare', 'Age_10', 'Age_30', 'Age_100', 'PClass_1', 'PClass_2',
       'PClass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2',
       'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1',
       'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [416]:
X.columns

Index(['Fare', 'Age_10', 'Age_30', 'Age_100', 'PClass_1', 'PClass_2',
       'PClass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2',
       'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1',
       'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [417]:
X_train.columns

Index(['Fare', 'Age_10', 'Age_30', 'Age_100', 'PClass_1', 'PClass_2',
       'PClass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2',
       'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1',
       'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [418]:
set(X_train.columns) - set(X_test.columns)

set()

In [419]:
# X_train.drop(["Parch_6"], axis=1, inplace=True)

In [420]:
# clf = tree.DecisionTreeClassifier(criterion='entropy')

In [470]:
knn = KNeighborsClassifier(n_neighbors=8) # metod Soseda

In [471]:
first_tree = DecisionTreeClassifier(criterion='entropy', random_state=17)

In [472]:
np.mean(cross_val_score(first_tree, X_train, Y_train, cv=5))

0.8235096774193549

In [473]:
np.mean(cross_val_score(first_tree, X, y, cv=5))

0.808122528403741

In [474]:
np.mean(cross_val_score(knn, X_train, Y_train, cv=5))

0.7110580645161291

In [475]:
first_tree.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=17)

In [476]:
tree_pred = first_tree.predict(X_test)
accuracy_score(y_test, tree_pred)

0.7985074626865671

In [477]:
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=8)

In [478]:
knn_pred = knn.predict(X_test)
accuracy_score(y_test, knn_pred)

0.7574626865671642

In [479]:
tree_params = {"max_depth": np.arange(1,20), "max_features": [0.5,0.6,0.8, 0.9,1]}

In [480]:
knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 10)}

knn_grid = GridSearchCV(knn_pipe, knn_params,
cv=5, n_jobs=-1,
verbose=True)

knn_grid.fit(X_train, Y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('knn',
                                        KNeighborsClassifier(n_jobs=-1))]),
             n_jobs=-1, param_grid={'knn__n_neighbors': range(1, 10)},
             verbose=True)

In [481]:
knn_grid.best_score_, knn_grid.best_params_

(0.7881806451612905, {'knn__n_neighbors': 8})

In [482]:
accuracy_score(y_test, knn_grid.predict(X_test))

0.7947761194029851

In [483]:
tree_grid = GridSearchCV(first_tree, tree_params, cv=5, n_jobs=-1)

In [484]:
%%time
tree_grid.fit(X_train,Y_train);

Wall time: 4.09 s

GridSearchCV(cv=5,
             estimator=DecisionTreeClassifier(criterion='entropy',
                                              random_state=17),
             n_jobs=-1,
             param_grid={'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19]),
                         'max_features': [0.5, 0.6, 0.8, 0.9, 1]})

In [485]:
# %%time
# tree_grid.fit(X, y);

In [486]:
# tree_grid.best_score_, tree_grid.best_params_ # Full Data

In [487]:
tree_grid.best_score_, tree_grid.best_params_ #Обучились на Train

(0.8379483870967741, {'max_depth': 11, 'max_features': 0.9})

In [488]:
tree_valid_pred = tree_grid.predict(X_test)

In [489]:
accuracy_score(y_test, tree_valid_pred)

0.8208955223880597

In [243]:
confusion_matrix(y_test, tree_valid_pred)

array([[169,   5],
       [ 27,  67]], dtype=int64)

In [244]:
np.bincount(y_test)

array([174,  94], dtype=int64)

### Задаем параметры для отрисовки дерева

In [269]:
second_tree = DecisionTreeClassifier(max_depth=5).fit(X_train, Y_train)
second_tree.score(X_test, y_test)

0.7873134328358209

In [270]:
export_graphviz(
    second_tree, out_file="titanic.dot", feature_names=X_train.columns, filled=True,
)

In [271]:
!ls -l *.png

-rw-r--r-- 1 Валентин 197121 77287 Jul  1 23:12 int_plan_and_churn.png
-rw-r--r-- 1 Валентин 197121 89789 Nov 10 14:52 pairplot.png
-rw-r--r-- 1 Валентин 197121 91131 Nov 17 22:24 titanic.png

In [272]:
!dot -Tpng titanic.dot -o titanic.png